@charset "utf-8";

@media screen and (min-width: 768px){ /* 20 Definições para midia maiores com resolulção maiores que as dos celulares.*/
    span#burger{ /*O icone do menu irá sumir */
        display: none;
    }
    
    menu{ /* 21 o conteúdo do menu não estará mais disposto em blocos um emcima do outro e sim um  do lado do outro como numa linha*/
        display: inline-block;
    }
    menu ul{ /* 22  O lu do menu estará alinhado a esquerda do boy com 30p pxels de distância da margem.*/
      text-align: left;
      margin-left: 30px;
    }

    menu li{ /* 23  os conteúdos, ou seja, os links do li estarão dispostos em linhas, cada qual com uma largura de 120 pxels e um padding segundo a sua caixa de 7 pxels */
        display: inline-block;
        width: 120px;
        padding: 7px;
        
    
    }
     menu li a{ /* 24  Definições para o link presente no li*/
        padding: 7px;
        text-align: center;
       

    }
    main{ /* 25  O main sempre pcupará 60% da viewport --- Continua no html em script*/
        width: 60vw;
    }
        
    
} 


